html {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    opacity: 0.9;
    text-align: center;
    background-color: #000;
}

header {
    border-bottom: 1px solid seashell;
    background-color: #000;
    box-sizing: border-box;
    position: fixed;
    width: 100%;
    z-index: 1;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .container .logo img {
    padding-left: 10px;
    height: 50px;
    width: auto;
    padding-top: 10px;
}

header .container nav {
    background-color: #000;
    text-decoration: underline;
    display: inline-flex;
}

header .container nav a {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    padding: 10px;
}

.mission {
    padding-top: 65px;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
    background-image: url("./../images/img-mission-background.jpg");
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

.mission-text {
    background-color: #000;
    opacity: 0.9;
    width: 100%;
}

.mission-text h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0px;
}

.mission-text h4 {
    font-size: 1.1rem;
    margin: 20px 10px;
    font-weight: bold;
}

#featuredtea {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.featured-tea .container-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
    margin: 0 20px;
}

.container-text h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 20px 0px;
}

.container-text h4 {
    font-size: 1.1rem;
    margin: 10px 10px;
    font-weight: bold;
}

.figure-container {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin: 20px 0px;
    width: 80%;
    justify-self: center;
    justify-content: center;
}

.figure-container figure img {
    width: 300px;
    height: 200px;
    margin: 10px;
    transition: all 0.5s;
}

.figure-container figure img:hover {
    border-radius: 40%;
    transform: rotate(-20deg) scale(1.2);
    margin: 22px;
}

figcaption {
    margin: 20px;
}

.locations {
    width: 100%;
}

.locations .background-image {
    background-image: url("./../images/img-locations-background.webp");
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: 500px;
}

.locations .background-image h1 {
    padding-top: 30px;
    font-size: 1.6em;
    margin-bottom: 15px;
}

.boxes {
    display: inline-flex;
}

.box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: column wrap;
    background-color: black;
    margin: 20px;
    flex: 1 1 300px;
    padding: 20px;
}

.box h2 {
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0px;
}

.box h3 {
    font-size: 1.01rem;
    padding: 10px;
}

.final {
    height: 200px;
}

.final h1 {
    font-size: 1.4rem;
    padding: 10px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.final h2 {
    margin: 5px;
    padding: 5px;
}

footer p {
    margin: 15px;
    font-size: 1.1rem;
    text-align: left;
}