body {
    color: white;
    background-color: #444;
    overflow: hidden;
}

main {
    padding-top: 8%;
}

.answer-block {
    background-color: black;
    font-size: 90px;
    text-align: right;
    overflow: scroll;
}

.answer-block::-webkit-scrollbar {
    display: none;
}

.btn {
    font-size: 55px;
    border: 2px solid black;
}

.btn-outline-secondary {
    background-color: lightgrey;
}

.btn-outline-primary {
    background-color: lightblue;
}