html {
      font-size: 16px;
      font-family: Helvetica, sans-serif;
      margin: 0;
      background-color: #bb2205;
}
nav {
      background-color: #f6830f;
}
nav a {
      font-size: 1.5rem;
      text-decoration: none;
      border: 3px solid rosybrown;
      margin: 1rem 2rem;
      display: inline-block;
      padding: 10px;
      color: #d2d3c9;
}
.intro h1 {
      font-size: 3rem;
      text-align: center;
      color: antiquewhite;
      padding: 5rem;
      font-family: "Bebas Neue", cursive;
}

.intro figure {
      background-color: #0e918c;
}

.intro figure img{
      width: 70%;
      height: auto;
      display: block;
      margin-left: auto;
      margin-right: auto;
}
.main .clublabel {
      font-size: 2em;
      font-family: "Lobster", cursive;
      color: antiquewhite;
      margin-top: 2em;
      margin-left: 1rem;
}
.main .join {
      margin: 1rem;
      font-size: 1.5em;
      color: #d2d3c9;
      padding: 7px 0px 15px 0px;
}
.main .container {
      display: flex;
      align-items: baseline;
      justify-content: space-evenly;
      background-color: #0e918c;
}
.main figure .boxer {
      width: 50%;
      height: auto;
}
.main figure .rope {
      width: 45.8%;
      height: auto;
}
.join-us h1 {
      margin: 2rem;
      font-size: 3em;
      font-family: "Lobster", cursive;
      color: #d2d3c9;
      text-align: center;
}
.join-us figure {
      background-color: #0e918c;
      display: flex;
      justify-content: center;
}
.join-us figure img {
      width: 50%;
      height: auto;
      margin: 1rem;

}
.join-us p {
      font-size: 1.5em;
      color: #d2d3c9;
      padding: 7px 0px 15px 0px;
      text-align: center;
}
footer {
      border: 15px solid whitesmoke;
      padding: 7px 0px 15px 0px;
      background-color: #f6830f;
}
footer .text {
      font-size: 1.5em;
      color: #d2d3c9;
      padding: 2rem;

}
.text {
      display: flex;
      align-items: baseline;
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      font-size: 0.5rem;
}
.address h3 {
      font-size: 2.5rem;
      color: blanchedalmond;
      padding-right: 4rem;
}
.text h3 {
      font-size: 2.5rem;
      color: blanchedalmond;
      padding-right: 4rem;      
}